/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.navbarstick {
  position: fixed;
  width: 100%;
  top: 0;
}

@media only screen and (max-width: 600px) {
  /* mobile */
  .recent-news {
      height: 150px !important;
  }

  .title-banner{
     font-size: 25px !important;
  }

  .text {
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 0;
  }

  .tanggal-berita {
      font-size: 12px;
      margin-top: 5px;
  }

  .item-mobile {
    /* max-width: 350px !important; */
    width: 200px !important;
  }

  .flaticon-innovation {
    font-size: 30px !important;
  }

  .item-mobile h4 {
    line-height: 12px;
  }

  .item-mobile h4 a {
    font-size: 10px !important;
  }

  .item-mobile .thumb {
    align-items: center !important;
    justify-content: center !important;
    line-height: 20px !important;
    width: 100% !important;
  }

  .item-mobile .thumb span {
    font-size: 11px !important;
  }

  .class-advisor {
    width: 200px !important;
  }

  .btn-2hotnews {
    width: 100% !important;
  }

  .image-jurusan-home {
    object-fit: cover;
    height: 100px;
    width: 100%;
  }

  .nama-jurusan {
    font-size: 11px;
  }

  .nama-guru-all {
    height: 35px !important;
  }
  .nama-guru-all h4{
    font-size: 11px !important;
    line-height: 15px !important;
  }
  .nama-jabatan-all {
    height: 20px !important;
  }
  .nama-jabatan-all h4{
    font-size: 10px;
    line-height: 14px;
  }

  #kesiswaan-ke-2 {
    display: none !important;
  }

  #kesiswaan-ke-1 {
    display: none !important;
  }

  .content h3 {
    font-size: 16px !important;
    margin-bottom: 20px !important;
  }

  .logosmk {
    display: none !important;
  }

  .text-desc {
    line-height: 20px !important;
  }

  .hide-dokumen {
    display: none !important;
  }
}

@media only screen and (min-width: 601px) {
  /* desktop */
  .recent-news {
      height: 200px !important;
  }
  .nama-guru-all {
    height: 50px !important;
  }
  .nama-guru-all h4{
    font-size: 18px !important;
  }
  .nama-jabatan-all {
    height: 20px !important;
  }
  .nama-jabatan-all h4{
    font-size: 14px;
    line-height: 16px;
  }
  .image-jurusan-home {
    object-fit: cover;
    height: 200px;
  }
}

.slide-item::-webkit-scrollbar {
  display: none !important;
}

.slide-item {
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;  /* Firefox */
}

.slide-advisor::-webkit-scrollbar {
  display: none !important;
}

.slide-advisor {
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;  /* Firefox */
}

.dropdown:hover .dropdown-menu{
  display: block;
}